.div-box1{
    border: 1px solid black;
    width: 100px;
    height: 100px;
    background-color: white;
    transition: background-color 5s;
    transition-delay: 3s;
    transition-timing-function: ease-out;
    
}

.div-box1:hover{
    background-color:black;
}

.div-box2{
    border: 1px solid black;
    height: 50px;
    transition: height 4s ;
    transition-delay: 3s;
    transition-timing-function: ease-in;



}

.div-box2:hover{
    height:500px;

}
.div-box3{
    background-color: black;
    width: 100px;
    height: 100px;
    transition: border radius 5s;
    transition-delay: 3s;
    transition-timing-function: ease-out;


}

.div-box3:hover{
    border-radius:50%;
    height: 90px;
    width: 150px;
}